.typography {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.sizeTitle {
  font-size: 24px;
  line-height: 130%;
  font-weight: 500;
}

.sizeL {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}

.sizeM {
  font-size: 14px;
  line-height: 170%;
  font-weight: 400;
}

.sizeS {
  font-size: 12px;
  line-height: 170%;
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}
