:root {
  --color-primary: #fb6232;
  --color-background: #f5f5f5;
  --color-text: #181234;
  --color-text-header: #292929;
  --color-text-secondary: #63666a;
  --color-text-on-surface: #fff;

  --color-badge-admin: #003569;
  --color-badge-editor: #269085;
  --color-badge-viewer: #5993b9;
  --color-badge-guest: #9f009f;
  --color-badge-owner: #fff;
  --color-badge-inactive: #fff;
  --background: var(--color-background);
  --content: var(--color-text);
}

body {
  background-color: var(--background);
  color: var(--content);
  display: grid;
  font-size: 2rem;
  margin: 0;
  min-height: 100vh;
  place-content: center;
}

.textAccent {
  background: linear-gradient(to right, #ff784e 0%, #fb347c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
